<h3>Update Car</h3>
<div [hidden]="onSubmit" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">mark</label>
      <input type="text" class="form-control" id="mark" required [(ngModel)]="car.mark" name="mark">
    </div>

    <div class="form-group">
      <label for="name">model</label>
      <input type="text" class="form-control" id="model" required [(ngModel)]="car.model" name="model">
    </div>

    <div class="form-group">
      <label for="name">color</label>
      <input type="text" class="form-control" id="color" required [(ngModel)]="car.color" name="color">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>